@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* width */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #dace90;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}